

margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar navbar-expand-sm bg-light navbar-light fixed-top{
  float: right;
}
.nav-item{
  float: right;
  padding-right: 0px;

}
h4{
  text-align: center;
}
.sidebar {
    margin: 0;
    padding-top: 85px;
    width: 180px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index:-1;
  }
  
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
 
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
 
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .row{
    padding-left: 350px;
    margin-top: 100px;
}
.col-sm-6{
padding-bottom:30px;    
}
h5{
    padding-left:40px;
}